html
{
    font-size: 14px;
}
.logo
{
    display: flex;  align-items: center;
}
.logo img
{
    width: 48px;  height: 48px;vertical-align: top;
}
.logo span
{
    font-size: 24px;  padding-left: 5px;
}
.footer
{
    text-align: center;
}
.container
{
    padding-top: 10px;
}
.leftContainer
{
    float: left;  width: 400px;
}
.carousel
{
    margin-top: 10px;
}
.topNewsList li
{
    font-size: .3rem;
}
.custom-image,
.custom-title
{
    width: 100%;
}
.news-img-list
{
    display: flex;  align-content: space-around; flex-wrap: wrap;  justify-content: space-around;
}
.news-img-list li
{
    margin-bottom: 10px;  border: 1px solid #eee;
}
.news-img-list li:last-child,
.news-img-list li:nth-last-child(2)
{
    margin-bottom: 0;
}
.custom-title p
{
    font-size: .2rem;
}
.container
{
    width: 100%;  padding: 0 8px;
}

